@import url("../../../css/animations/animation.css");

.gallery {
    max-width: 90rem;
    min-height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 3rem;
    margin: 2rem;
}

.gallery .card {
    position: relative;
    max-width: 90rem;
    width: 20rem;
    height: 35rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #00000039;
    animation: slideInFromTop 0.5s ease-out;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/dz9smi3nc/image/upload/v1698386205/shop-mugs/png-transparent-load-the-map-loading-load-waiting_bsfqyr.png");
    background-size: cover;
    background-position: center;
}

.gallery .card .body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;
    background-color: #3a5ac5e8;
    color: var(--color-main);
}

.gallery .card .body .title {
    flex-basis: 1/2;
    width: 100%;
    display: flex;
    align-items: center;
}

.gallery .card .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .card .bottom .price {
    flex-basis: 1/4;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.gallery .card .bottom .details {
    display: flex;

}

.gallery .bottom button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid #606060;
    border-radius: 2rem;
    cursor: pointer;
    color: #fdfdfd;
    background-color: var(--color-secondary);
    transition: 0.5s background-color;
}

.gallery .card button:hover {
    background-color: var(--color-strong-secondary);
    transition: 0.5s background-color;
}